//font-family: 'Luckiest Guy', cursive;
//font-family: 'Mouse Memoirs', sans-serif;
$color-primary: rgb(255, 238, 0);
$color-secondary: rgb(18, 54, 119);
$color-ternary: rgba(238, 26, 26);

$white: rgb(243, 242, 236);
$black: rgb(20, 20, 20);


@font-face {
  font-family: "Luckiest Guy";
  src: url("../../public/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype")
 }

 @font-face {
  font-family: "Mouse Memoirs";
  src: url("../../public/fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf") format("truetype")
 }

 $font-primary: 'Mouse Memoirs';
 $font-secondary: 'Luckiest Guy';

* {
  box-sizing: border-box;
  margin: 0%;
}

body::-webkit-scrollbar {
  display: none;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

body {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  cursor: default;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;

  font-family: $font-secondary;
}

.App {
  position: relative;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

@import '../pages/Home.scss';
@import '../pages/Pokemons.scss';
@import '../pages/PokemonDetail.scss';
@import '../pages/Payment.scss';