.AddToCart {
  cursor: default;
  display: flex;

  .price {
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 400px) {
      font-size: 30px;
    }
    @media screen and (max-width: 399px) {
      font-size: 25px;
    }

    color: $white;
    text-shadow: 0 0 2px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0);
  }

  .quantity {
    height: 100%;
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    .add-one, .remove-one {
      height: 20px;
      width: 20px;
      
      @media screen and (min-width: 400px) {
        padding: 10px;
      }
      @media screen and (max-width: 399px) {
        padding: 5px;
      }

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid rgba($white, 0.5);
      border-radius: 50%;
      background-color: rgba($white, 0.5);
      transition: 0.2s linear;

      &:hover {
        background-color: rgba($white, 0.8);
      }
    }

    span {
      width: 30%;

      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }

  .btn-cart {
    height: 100%;
    width: 20%;
    min-width: 80px;
    margin-left: 5%;

    border: 2px solid rgba($white, 0.5);
    border-radius: 10px 0 10px 0;
    background-color: rgba($white, 0.5);
    box-shadow: 0 0 5px $black;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($white, 0.8);
    }
  }
}