@import '../AddToCart/index.scss';
@import './PokemonInfos';

.PokemonsListCard {
  position: relative;
  margin: 10px;
  padding: 20px;
  height: 400px;

  @media screen and (min-width: 2000px) {
    width: 20%;
  }
  @media screen and (min-width: 1600px) and (max-width: 1999px) {
    width: 25%;
  }
  @media screen and (min-width: 1200px) and (max-width: 1599px) {
    width: 30%;
  }
  @media screen and (min-width: 800px) and (max-width: 1199px) {
    width: 45%;
  }
  @media screen and (max-width: 799px) {
    width: 100%;
  }

  border: 1px solid white;
  background-color: rgba($white, 0.7);
  border-radius: 10px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s linear;

  .pokemon-id {
    position: absolute;
    top: 30px;
    left: 15px;
    height: 18%;
    z-index: 2;

    display: inline-flex;
    align-items: center;

    color: $color-primary;
    font-size: 50px;
    text-shadow: 2px 2px $color-secondary, -2px -2px $color-secondary;
  }

  .header {
    width: 100%;
    height: 20%;
    opacity: 0.5;

    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
  }

  .AddToCart {
    height: 10%;
    width: 100%;
  }

  &:hover {
    transform: scale(1.01);
  }
}