.CheckCartStep {
  width: 90%;
  height: 70%;

  margin: 10px 0;
  text-align: center;

  border: 1px solid white;
  border-radius: 10px;

  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}