@import '../components/NavBar/index.scss';
@import '../components/PokemonPresentation/index.scss';
@import '../components/RightCart/index.scss';

.PokemonDetail {
  position: relative;  
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .Shop {
    width: 100%;
    height: 80%;

    display: flex;

    .Pokemon {
      flex: 2;
      height: 100%;
    }
  }

  .Footer {
    width: 100%;
    height: 10%;
    background-color: red;
  }
}