@import '../components/NavBar/index.scss';
@import '../components/PokemonsList/index.scss';
@import '../components/NavCart/index.scss';

.Pokemons {
  position: relative;  
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .Shop {
    width: 100%;
    height: 80%;

    display: flex;
    
    .Items {
      flex: 2;
      height: 100%;

      display: flex;
    }
  }

  .Footer {
    width: 100%;
    height: 10%;
    background-color: red;
  }
}