@import '../components/NavBar/index.scss';
@import '../components/PokemonsList/index.scss';

.Pokemons {
  position: relative;  
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .Shop {
    width: 100%;
    height: 80%;

    display: flex;
    
    .Items {
      flex: 2;
      height: 100%;

      display: flex;
    }

    .Cart {
      width: 20%;
      height: 100%;

      border-left: 1px solid black;
      transition: width 0.5s linear;
    }
  }

  .Footer {
    width: 100%;
    height: 10%;
    background-color: red;
  }
}