@import './Illustrations/index.scss';
@import './Description/index.scss';

.PokemonPresentation {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  overflow-y: scroll;
}