@import './StepIndex/index.scss';
@import './CheckCartStep/index.scss';
@import './CheckPaymentInfosStep/index.scss';
@import './CheckUserInfosStep/index.scss';
@import './StepChange/index.scss';

.PaymentSteps {
  width: 80%;
  max-width: 500px;
  min-width: 250px;
  height: 75%;
  padding: 10px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  background-color: rgba($white, 0.6);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px $black;
}